html{

  background: linear-gradient(130deg,  #0FDAFF, #C0FF0D);
  height: 100%;
  /* ADD darkening/lightening background, value tied to player score */
}

.welcome{
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

body{
  height: 100%;
  width: 75%;
  margin: auto;
  margin-top: 0%;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: rgba(255,255,255, 0.3);
}

.button-container{
  text-align: center;
  }

button{
  width: 20rem;
  margin: auto;
  margin-top: 5%;
  font-size: 200%;
  background-color: rgba(50, 255, 200, 1);
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;

}
button:hover  {
  background-color:  #99ffe4;
}

button:active  {
  background-color: rgba(50, 255, 200, 0);
}
